<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apreciasoft.mobile.intercarremis">

    <uses-feature android:glEsVersion="0x00020000"
                  android:required="true"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.apreciasoft.mobile.intercarremis.Util.GlovalVar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.apreciasoft.mobile.intercarremis.Activity.indexActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name="com.apreciasoft.mobile.intercarremis.Activity.MainActivity" />



        <activity
            android:name="com.apreciasoft.mobile.intercarremis.Activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.apreciasoft.mobile.intercarremis.Activity.HomeClientActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity   android:name="com.apreciasoft.mobile.intercarremis.Fracments.PaymentCreditCar" />
        <activity   android:name="com.apreciasoft.mobile.intercarremis.Fracments.activity_card" />
        <activity   android:name="com.apreciasoft.mobile.intercarremis.Fracments.RegisterCliente" />
        <activity   android:name="com.apreciasoft.mobile.intercarremis.Fracments.RegisterForm" />
        <activity   android:name="com.apreciasoft.mobile.intercarremis.Fracments.NewFormDriver" />
        <activity   android:name="com.apreciasoft.mobile.intercarremis.Fracments.NewFormClient" />
        <activity   android:name="com.apreciasoft.mobile.intercarremis.Fracments.InfoDetailTravelAc" />

        <activity   android:name="com.apreciasoft.mobile.intercarremis.Util.Signature" />

        <service android:name="com.apreciasoft.mobile.intercarremis.Util.FirebaseNotifactionSevices">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.apreciasoft.mobile.intercarremis.Util.FirebaseInstanceIdSevices">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data android:name="com.google.android.gsm.version"
                   android:value="@integer/google_play_services_version"/>

        <meta-data  android:name="com.google.android.geo.API_KEY"
                    android:value="AIzaSyApZ1embZ2bhcI4Ir8NepmyjTfNvGvjUas" />


        <service
            android:name="com.apreciasoft.mobile.intercarremis.Util.ServicesSleep"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="49fba1b63755e1ea4cbc0d53acc6b33857d405f1"
            />
    </application>

</manifest>